@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="text-info">Enter your SQL Query:</h5>
    <p>

        <form method="post">
            @Html.AntiForgeryToken()
            <textarea cols="150" rows="8" name="query" id="query">
    USE database1;
    SELECT id, name, address FROM users WHERE is_customer IS NOT NULL ORDER BY created;
    INSERT INTO user_notes (id, user_id, note, created) VALUES (1, 1, "Note 1", NOW());
    DELETE FROM database2.logs WHERE id < 1000;

            </textarea>
        </form>

        <button id="parse" type="button" class="btn-success btn-lg">Parse</button>
        <div id="dvItems" style="font-size:24px;">
        </div>
    </p>
    
   
</div>
<main>
    <div data-component=pretty-print data-on-load=app.setup class=flex-columns>
        
        <div>
            <h3>AST Output:</h3>
            <pre><output id="output"></output></pre>
        </div>
    </div>
</main>
@section Scripts {
    <script>

        $('#parse').on('click', function () {
            var query = $('#query').val();
            var json = {
                "message": "Put some JSON in the text box.",
                "Id": "dds",
                "year": 2019,
                "ios": false,
                "space": "🚀"
            };
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=Parse",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({
                        QueryText: query,
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //var dvItems = $("#dvItems");
                        //dvItems.empty();
                        console.log(response);
                       $.each(response, function (i, item) {
                           console.log(item);
                           //    var $tr = $('<li>').append(item).appendTo(dvItems);
                        });
                        $('#output').html(response ? prettyPrintJson.toHtml(response) : '[EMPTY]');
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        );
    </script>
}